// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  height: auto;
  background: white;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light";
}

h1{
  text-align: center;
  font-family: "HelveticaNeue-Light";
}

h2{
  text-align: center;
  font-family: "HelveticaNeue-Light";
}

.sign_out{
  float: right;
  margin-right: 5%;
}

.sign_out:hover{
	color: white;
	box-shadow:1px 3px 1px grey;
  transform: scale(1.1);
}

.follow {
  background-color: powderblue;
  color: white;
  display: center;
  border-radius: 5px;
  border-color: powderblue;
  margin: 0;
  font-family: "HelveticaNeue-Light";
}

.follower_following{
  display: block;
  text-align: center;
}

.follow:hover{
	color: white;
	box-shadow:1px 3px 1px grey;
  transform: scale(1.1);
}

img {
  width: 400px;
  height: auto;
  border-radius: 5px;
  border-color: powderblue 100px;
  margin: 2%;
  box-shadow: -11px 11px 32px 2px
  rgba(94,91,91,1);
}

img:hover{
	color: white;
	box-shadow:1px 3px 1px grey;
  transform: scale(1.1);
}

.delete_account {
  background-color: grey;
	color: white;
  text-align: center;
	padding: .5%;
  border-top: solid 1px grey;
  margin: auto;
  margin-top: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.6);
}

.following {
  text-align: center;
}

image_tag {
  display: inline;
}

.hello_user {
  text-align: center;
}

.header {
  background-color: grey;
	color:white;
	padding: 0.5%;
  border-bottom: solid 1px grey;
  margin: auto;
  margin-top: 0;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.6);
  float:left;
}
